.Btn{
    border: 1px solid black;
    width: fit-content;
}

span{
    display: flex;
    column-gap: 70%;
}

.c-al{
    text-align: center;
    
}

.centerbox{
    display: block;
    width: 50%;
    margin: auto;
}

.center{
    margin-left:40%;
}



.submit .goBackBtn{
    margin-top: 1rem;
    margin-left: 10%;
    background-color: green;
    cursor: pointer;
}

.top-m{
    margin-top: 1rem;
}